
        html, body {
            height: 75%;
            
            position: relative;

        }
        textarea {
            display: flex;
	        
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            position: absolute;
           
        }
        div {
            position: relative;
            display:flex;
            height:100%;
        }
