
        html, body {
            height: 97%;            
            position: relative;

        }
        textarea {
            display: flex;
            width: 100%;
	        
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            position: absolute;
           
        }
        div {
            position: relative;
            display:flex;
            height:100%;
            width: 99%;
            
            color: blue;
            background-color: brown;
            border-color: blueviolet;
            border-width: 7px;
    
        }
